body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1217px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1214px;
  height:62px;
  background:inherit;
  background-color:rgba(73, 154, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22948 {
  position:absolute;
  left:0px;
  top:47px;
  width:1214px;
  height:62px;
}
#u22949 {
  position:absolute;
  left:2px;
  top:23px;
  width:1210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u22950 {
  position:absolute;
  left:20px;
  top:18px;
  width:223px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u22951 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u22952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
}
#u22952 {
  position:absolute;
  left:1152px;
  top:17px;
  width:28px;
  height:22px;
}
#u22953 {
  position:absolute;
  left:2px;
  top:3px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:21px;
}
#u22954 {
  position:absolute;
  left:1021px;
  top:16px;
  width:28px;
  height:21px;
}
#u22955 {
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u22956 {
  position:absolute;
  left:1089px;
  top:14px;
  width:27px;
  height:26px;
}
#u22957 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-Black', 'Arial Black';
  font-weight:900;
  font-style:normal;
  color:#FFFFFF;
}
#u22958 {
  position:absolute;
  left:45px;
  top:56px;
  width:168px;
  height:45px;
  font-family:'Arial-Black', 'Arial Black';
  font-weight:900;
  font-style:normal;
  color:#FFFFFF;
}
#u22959 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u22960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u22960 {
  position:absolute;
  left:250px;
  top:58px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u22961 {
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u22962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u22962 {
  position:absolute;
  left:370px;
  top:58px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u22963 {
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u22964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u22964 {
  position:absolute;
  left:490px;
  top:58px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u22965 {
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u22966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u22966 {
  position:absolute;
  left:730px;
  top:58px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u22967 {
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u22968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u22968 {
  position:absolute;
  left:850px;
  top:58px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u22969 {
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u22970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u22970 {
  position:absolute;
  left:610px;
  top:58px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u22971 {
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u22972_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u22972 {
  position:absolute;
  left:250px;
  top:106px;
  width:120px;
  height:3px;
  color:#FFFFFF;
}
#u22973 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22974_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u22974 {
  position:absolute;
  left:370px;
  top:106px;
  width:120px;
  height:3px;
  color:#FFFFFF;
}
#u22975 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22976_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u22976 {
  position:absolute;
  left:490px;
  top:106px;
  width:120px;
  height:3px;
  color:#FFFFFF;
}
#u22977 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22978_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u22978 {
  position:absolute;
  left:610px;
  top:106px;
  width:120px;
  height:3px;
  color:#FFFFFF;
}
#u22979 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22980_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u22980 {
  position:absolute;
  left:730px;
  top:106px;
  width:120px;
  height:3px;
  color:#FFFFFF;
}
#u22981 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22982_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u22982 {
  position:absolute;
  left:850px;
  top:106px;
  width:120px;
  height:3px;
  color:#FFFFFF;
}
#u22983 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1214px;
  height:3271px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22985 {
  position:absolute;
  left:0px;
  top:109px;
  width:1214px;
  height:3271px;
}
#u22986 {
  position:absolute;
  left:2px;
  top:1628px;
  width:1210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:1700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22987 {
  position:absolute;
  left:19px;
  top:144px;
  width:150px;
  height:1700px;
}
#u22988 {
  position:absolute;
  left:2px;
  top:842px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u22989 {
  position:absolute;
  left:61px;
  top:172px;
  width:86px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u22990 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u22991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u22991 {
  position:absolute;
  left:61px;
  top:262px;
  width:86px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u22992 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u22993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u22993 {
  position:absolute;
  left:61px;
  top:302px;
  width:86px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u22994 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u22995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u22995 {
  position:absolute;
  left:61px;
  top:222px;
  width:86px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u22996 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u22997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u22997 {
  position:absolute;
  left:30px;
  top:173px;
  width:20px;
  height:15px;
}
#u22998 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u22999 {
  position:absolute;
  left:61px;
  top:382px;
  width:86px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u23000 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u23001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u23001 {
  position:absolute;
  left:61px;
  top:422px;
  width:86px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u23002 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u23003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u23003 {
  position:absolute;
  left:61px;
  top:342px;
  width:86px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u23004 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u23005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u23005 {
  position:absolute;
  left:61px;
  top:502px;
  width:86px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u23006 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u23007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u23007 {
  position:absolute;
  left:61px;
  top:542px;
  width:86px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u23008 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u23009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u23009 {
  position:absolute;
  left:61px;
  top:462px;
  width:86px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u23010 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u23011_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u23011 {
  position:absolute;
  left:850px;
  top:107px;
  width:120px;
  height:3px;
  color:#FFFFFF;
}
#u23012 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23013_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u23013 {
  position:absolute;
  left:850px;
  top:106px;
  width:120px;
  height:3px;
}
#u23014 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1871px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u23015 {
  position:absolute;
  left:182px;
  top:144px;
  width:1000px;
  height:1871px;
  text-align:left;
}
#u23016 {
  position:absolute;
  left:2px;
  top:928px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#499AFF;
}
#u23017 {
  position:absolute;
  left:209px;
  top:172px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#499AFF;
}
#u23018 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u23019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u23019 {
  position:absolute;
  left:1116px;
  top:174px;
  width:16px;
  height:14px;
}
#u23020 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#499AFF;
}
#u23021 {
  position:absolute;
  left:1136px;
  top:172px;
  width:81px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#499AFF;
}
#u23022 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u23023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u23023 {
  position:absolute;
  left:284px;
  top:177px;
  width:13px;
  height:12px;
  color:#3A5997;
}
#u23024 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:2px;
}
#u23025 {
  position:absolute;
  left:189px;
  top:209px;
  width:979px;
  height:1px;
}
#u23026 {
  position:absolute;
  left:2px;
  top:-8px;
  width:975px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:447px;
}
#u23027 {
  position:absolute;
  left:209px;
  top:235px;
  width:591px;
  height:447px;
}
#u23028 {
  position:absolute;
  left:2px;
  top:216px;
  width:587px;
  visibility:hidden;
  word-wrap:break-word;
}
