body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:736px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u1018 {
  position:absolute;
  left:77px;
  top:36px;
  width:50px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1019 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u1020 {
  position:absolute;
  left:77px;
  top:116px;
  width:50px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#499AFF;
  text-align:center;
}
#u1021 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u1022 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u1023 {
  position:absolute;
  left:686px;
  top:36px;
  width:50px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1024 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u1025 {
  position:absolute;
  left:686px;
  top:116px;
  width:50px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#499AFF;
  text-align:center;
}
#u1026 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u1027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1027 {
  position:absolute;
  left:340px;
  top:51px;
  width:120px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1028 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u1029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1029 {
  position:absolute;
  left:340px;
  top:173px;
  width:120px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1030 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u1031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1031 {
  position:absolute;
  left:340px;
  top:268px;
  width:120px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1032 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u1033 {
  position:absolute;
  left:400px;
  top:101px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u1033_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:76px;
}
#u1033_seg1 {
  position:absolute;
  left:-10px;
  top:58px;
  width:20px;
  height:21px;
}
#u1034 {
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1035 {
  position:absolute;
  left:400px;
  top:223px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u1035_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u1035_seg1 {
  position:absolute;
  left:-10px;
  top:31px;
  width:20px;
  height:21px;
}
#u1036 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1037 {
  position:absolute;
  left:127px;
  top:76px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u1037_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:217px;
  height:8px;
}
#u1037_seg1 {
  position:absolute;
  left:199px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1038 {
  position:absolute;
  left:56px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1039 {
  position:absolute;
  left:127px;
  top:76px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u1039_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:182px;
  height:8px;
}
#u1039_seg1 {
  position:absolute;
  left:174px;
  top:-4px;
  width:8px;
  height:130px;
}
#u1039_seg2 {
  position:absolute;
  left:174px;
  top:118px;
  width:39px;
  height:8px;
}
#u1039_seg3 {
  position:absolute;
  left:199px;
  top:112px;
  width:21px;
  height:20px;
}
#u1040 {
  position:absolute;
  left:118px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041 {
  position:absolute;
  left:127px;
  top:76px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u1041_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:182px;
  height:8px;
}
#u1041_seg1 {
  position:absolute;
  left:174px;
  top:-4px;
  width:8px;
  height:225px;
}
#u1041_seg2 {
  position:absolute;
  left:174px;
  top:213px;
  width:39px;
  height:8px;
}
#u1041_seg3 {
  position:absolute;
  left:199px;
  top:207px;
  width:21px;
  height:20px;
}
#u1042 {
  position:absolute;
  left:128px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1043 {
  position:absolute;
  left:686px;
  top:390px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u1043_seg0 {
  position:absolute;
  left:-226px;
  top:-4px;
  width:230px;
  height:8px;
}
#u1043_seg1 {
  position:absolute;
  left:-233px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1044 {
  position:absolute;
  left:-163px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1045 {
  position:absolute;
  left:127px;
  top:76px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u1045_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:182px;
  height:8px;
}
#u1045_seg1 {
  position:absolute;
  left:174px;
  top:-4px;
  width:8px;
  height:413px;
}
#u1045_seg2 {
  position:absolute;
  left:174px;
  top:401px;
  width:39px;
  height:8px;
}
#u1045_seg3 {
  position:absolute;
  left:199px;
  top:395px;
  width:21px;
  height:20px;
}
#u1046 {
  position:absolute;
  left:128px;
  top:123px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1047 {
  position:absolute;
  left:686px;
  top:76px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u1047_seg0 {
  position:absolute;
  left:-43px;
  top:-4px;
  width:43px;
  height:8px;
}
#u1047_seg1 {
  position:absolute;
  left:-43px;
  top:-4px;
  width:8px;
  height:510px;
}
#u1047_seg2 {
  position:absolute;
  left:-226px;
  top:498px;
  width:192px;
  height:8px;
}
#u1047_seg3 {
  position:absolute;
  left:-233px;
  top:492px;
  width:21px;
  height:20px;
}
#u1048 {
  position:absolute;
  left:-88px;
  top:318px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u1049 {
  position:absolute;
  left:524px;
  top:38px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u1050 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1051 {
  position:absolute;
  left:460px;
  top:76px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:left;
}
#u1051_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:45px;
  height:8px;
}
#u1051_seg1 {
  position:absolute;
  left:37px;
  top:-33px;
  width:8px;
  height:37px;
}
#u1051_seg2 {
  position:absolute;
  left:37px;
  top:-33px;
  width:27px;
  height:8px;
}
#u1051_seg3 {
  position:absolute;
  left:50px;
  top:-39px;
  width:21px;
  height:20px;
}
#u1052 {
  position:absolute;
  left:-9px;
  top:-13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u1053 {
  position:absolute;
  left:524px;
  top:67px;
  width:27px;
  height:18px;
  font-size:13px;
  color:#999999;
}
#u1054 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1055 {
  position:absolute;
  left:460px;
  top:76px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:left;
}
#u1055_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u1055_seg1 {
  position:absolute;
  left:50px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1056 {
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u1057 {
  position:absolute;
  left:524px;
  top:96px;
  width:27px;
  height:18px;
  font-size:13px;
  color:#999999;
}
#u1058 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1059 {
  position:absolute;
  left:460px;
  top:76px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1059_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:45px;
  height:8px;
}
#u1059_seg1 {
  position:absolute;
  left:37px;
  top:-4px;
  width:8px;
  height:37px;
}
#u1059_seg2 {
  position:absolute;
  left:37px;
  top:25px;
  width:27px;
  height:8px;
}
#u1059_seg3 {
  position:absolute;
  left:50px;
  top:19px;
  width:21px;
  height:20px;
}
#u1060 {
  position:absolute;
  left:-9px;
  top:-3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1061 {
  position:absolute;
  left:340px;
  top:365px;
  width:120px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1062 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u1063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1063 {
  position:absolute;
  left:340px;
  top:456px;
  width:120px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1064 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u1065 {
  position:absolute;
  left:400px;
  top:415px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u1065_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u1065_seg1 {
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:21px;
}
#u1066 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1067 {
  position:absolute;
  left:400px;
  top:318px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u1067_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u1067_seg1 {
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:21px;
}
#u1068 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1069 {
  position:absolute;
  left:340px;
  top:553px;
  width:120px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1070 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u1071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1071 {
  position:absolute;
  left:340px;
  top:644px;
  width:120px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1072 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u1073 {
  position:absolute;
  left:400px;
  top:603px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u1073_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u1073_seg1 {
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:21px;
}
#u1074 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1075 {
  position:absolute;
  left:400px;
  top:506px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u1075_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u1075_seg1 {
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:21px;
}
#u1076 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1077 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u1078 {
  position:absolute;
  left:686px;
  top:350px;
  width:50px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1079 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u1080 {
  position:absolute;
  left:686px;
  top:430px;
  width:50px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#499AFF;
  text-align:center;
}
#u1081 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u1082 {
  position:absolute;
  left:127px;
  top:76px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u1082_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:182px;
  height:8px;
}
#u1082_seg1 {
  position:absolute;
  left:174px;
  top:-4px;
  width:8px;
  height:601px;
}
#u1082_seg2 {
  position:absolute;
  left:174px;
  top:589px;
  width:39px;
  height:8px;
}
#u1082_seg3 {
  position:absolute;
  left:199px;
  top:583px;
  width:21px;
  height:20px;
}
#u1083 {
  position:absolute;
  left:128px;
  top:217px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u1084 {
  position:absolute;
  left:524px;
  top:126px;
  width:27px;
  height:18px;
  font-size:13px;
  color:#999999;
}
#u1085 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1086 {
  position:absolute;
  left:460px;
  top:76px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1086_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:45px;
  height:8px;
}
#u1086_seg1 {
  position:absolute;
  left:37px;
  top:-4px;
  width:8px;
  height:67px;
}
#u1086_seg2 {
  position:absolute;
  left:37px;
  top:55px;
  width:27px;
  height:8px;
}
#u1086_seg3 {
  position:absolute;
  left:50px;
  top:49px;
  width:21px;
  height:20px;
}
#u1087 {
  position:absolute;
  left:-9px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1088 {
  position:absolute;
  left:686px;
  top:76px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u1088_seg0 {
  position:absolute;
  left:-42px;
  top:-4px;
  width:42px;
  height:8px;
}
#u1088_seg1 {
  position:absolute;
  left:-42px;
  top:-4px;
  width:8px;
  height:413px;
}
#u1088_seg2 {
  position:absolute;
  left:-226px;
  top:401px;
  width:192px;
  height:8px;
}
#u1088_seg3 {
  position:absolute;
  left:-233px;
  top:395px;
  width:21px;
  height:20px;
}
#u1089 {
  position:absolute;
  left:-88px;
  top:270px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
