body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1214px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1214px;
  height:62px;
  background:inherit;
  background-color:rgba(73, 154, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1886 {
  position:absolute;
  left:0px;
  top:47px;
  width:1214px;
  height:62px;
}
#u1887 {
  position:absolute;
  left:2px;
  top:23px;
  width:1210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u1888 {
  position:absolute;
  left:20px;
  top:18px;
  width:223px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u1889 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u1890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
}
#u1890 {
  position:absolute;
  left:1152px;
  top:17px;
  width:28px;
  height:22px;
}
#u1891 {
  position:absolute;
  left:2px;
  top:3px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:21px;
}
#u1892 {
  position:absolute;
  left:1021px;
  top:16px;
  width:28px;
  height:21px;
}
#u1893 {
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u1894 {
  position:absolute;
  left:1089px;
  top:14px;
  width:27px;
  height:26px;
}
#u1895 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-Black', 'Arial Black';
  font-weight:900;
  font-style:normal;
  color:#FFFFFF;
}
#u1896 {
  position:absolute;
  left:45px;
  top:56px;
  width:168px;
  height:45px;
  font-family:'Arial-Black', 'Arial Black';
  font-weight:900;
  font-style:normal;
  color:#FFFFFF;
}
#u1897 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u1898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1898 {
  position:absolute;
  left:250px;
  top:58px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1899 {
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u1900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1900 {
  position:absolute;
  left:370px;
  top:58px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1901 {
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u1902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1902 {
  position:absolute;
  left:489px;
  top:58px;
  width:123px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1903 {
  position:absolute;
  left:0px;
  top:10px;
  width:123px;
  white-space:nowrap;
}
#u1904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1904 {
  position:absolute;
  left:730px;
  top:58px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1905 {
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u1906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1906 {
  position:absolute;
  left:850px;
  top:58px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1907 {
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u1908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1908 {
  position:absolute;
  left:610px;
  top:58px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1909 {
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u1910_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u1910 {
  position:absolute;
  left:250px;
  top:106px;
  width:120px;
  height:3px;
  color:#FFFFFF;
}
#u1911 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1912_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u1912 {
  position:absolute;
  left:370px;
  top:106px;
  width:120px;
  height:3px;
  color:#FFFFFF;
}
#u1913 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1914_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u1914 {
  position:absolute;
  left:490px;
  top:106px;
  width:120px;
  height:3px;
  color:#FFFFFF;
}
#u1915 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1916_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u1916 {
  position:absolute;
  left:610px;
  top:106px;
  width:120px;
  height:3px;
  color:#FFFFFF;
}
#u1917 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1918_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u1918 {
  position:absolute;
  left:730px;
  top:106px;
  width:120px;
  height:3px;
  color:#FFFFFF;
}
#u1919 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1920_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u1920 {
  position:absolute;
  left:850px;
  top:106px;
  width:120px;
  height:3px;
  color:#FFFFFF;
}
#u1921 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1922 {
  position:absolute;
  left:983px;
  top:58px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1923 {
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u1924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1214px;
  height:628px;
}
#u1924 {
  position:absolute;
  left:0px;
  top:144px;
  width:1214px;
  height:628px;
  opacity:0.4;
}
#u1925 {
  position:absolute;
  left:2px;
  top:306px;
  width:1210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:40px;
}
#u1926 {
  position:absolute;
  left:85px;
  top:194px;
  width:317px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#499AFF;
  text-align:center;
}
#u1927 {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  white-space:nowrap;
}
