body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:736px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1057 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u1058 {
  position:absolute;
  left:77px;
  top:36px;
  width:50px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1059 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u1060 {
  position:absolute;
  left:77px;
  top:116px;
  width:50px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#499AFF;
  text-align:center;
}
#u1061 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u1062 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u1063 {
  position:absolute;
  left:686px;
  top:36px;
  width:50px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1064 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u1065 {
  position:absolute;
  left:686px;
  top:116px;
  width:50px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#499AFF;
  text-align:center;
}
#u1066 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u1067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1067 {
  position:absolute;
  left:340px;
  top:51px;
  width:120px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1068 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u1069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1069 {
  position:absolute;
  left:340px;
  top:173px;
  width:120px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1070 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u1071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1071 {
  position:absolute;
  left:340px;
  top:268px;
  width:120px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1072 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u1073 {
  position:absolute;
  left:400px;
  top:101px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u1073_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:76px;
}
#u1073_seg1 {
  position:absolute;
  left:-10px;
  top:58px;
  width:20px;
  height:21px;
}
#u1074 {
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1075 {
  position:absolute;
  left:400px;
  top:223px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u1075_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u1075_seg1 {
  position:absolute;
  left:-10px;
  top:31px;
  width:20px;
  height:21px;
}
#u1076 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1077 {
  position:absolute;
  left:127px;
  top:76px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u1077_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:217px;
  height:8px;
}
#u1077_seg1 {
  position:absolute;
  left:199px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1078 {
  position:absolute;
  left:56px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1079 {
  position:absolute;
  left:127px;
  top:76px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u1079_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:182px;
  height:8px;
}
#u1079_seg1 {
  position:absolute;
  left:174px;
  top:-4px;
  width:8px;
  height:130px;
}
#u1079_seg2 {
  position:absolute;
  left:174px;
  top:118px;
  width:39px;
  height:8px;
}
#u1079_seg3 {
  position:absolute;
  left:199px;
  top:112px;
  width:21px;
  height:20px;
}
#u1080 {
  position:absolute;
  left:118px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1081 {
  position:absolute;
  left:127px;
  top:76px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u1081_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:182px;
  height:8px;
}
#u1081_seg1 {
  position:absolute;
  left:174px;
  top:-4px;
  width:8px;
  height:225px;
}
#u1081_seg2 {
  position:absolute;
  left:174px;
  top:213px;
  width:39px;
  height:8px;
}
#u1081_seg3 {
  position:absolute;
  left:199px;
  top:207px;
  width:21px;
  height:20px;
}
#u1082 {
  position:absolute;
  left:128px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1083 {
  position:absolute;
  left:686px;
  top:390px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u1083_seg0 {
  position:absolute;
  left:-226px;
  top:-4px;
  width:230px;
  height:8px;
}
#u1083_seg1 {
  position:absolute;
  left:-233px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1084 {
  position:absolute;
  left:-163px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1085 {
  position:absolute;
  left:127px;
  top:76px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u1085_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:182px;
  height:8px;
}
#u1085_seg1 {
  position:absolute;
  left:174px;
  top:-4px;
  width:8px;
  height:413px;
}
#u1085_seg2 {
  position:absolute;
  left:174px;
  top:401px;
  width:39px;
  height:8px;
}
#u1085_seg3 {
  position:absolute;
  left:199px;
  top:395px;
  width:21px;
  height:20px;
}
#u1086 {
  position:absolute;
  left:128px;
  top:123px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1087 {
  position:absolute;
  left:686px;
  top:76px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u1087_seg0 {
  position:absolute;
  left:-43px;
  top:-4px;
  width:43px;
  height:8px;
}
#u1087_seg1 {
  position:absolute;
  left:-43px;
  top:-4px;
  width:8px;
  height:510px;
}
#u1087_seg2 {
  position:absolute;
  left:-226px;
  top:498px;
  width:192px;
  height:8px;
}
#u1087_seg3 {
  position:absolute;
  left:-233px;
  top:492px;
  width:21px;
  height:20px;
}
#u1088 {
  position:absolute;
  left:-88px;
  top:318px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u1089 {
  position:absolute;
  left:524px;
  top:38px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u1090 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1091 {
  position:absolute;
  left:460px;
  top:76px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:left;
}
#u1091_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:45px;
  height:8px;
}
#u1091_seg1 {
  position:absolute;
  left:37px;
  top:-33px;
  width:8px;
  height:37px;
}
#u1091_seg2 {
  position:absolute;
  left:37px;
  top:-33px;
  width:27px;
  height:8px;
}
#u1091_seg3 {
  position:absolute;
  left:50px;
  top:-39px;
  width:21px;
  height:20px;
}
#u1092 {
  position:absolute;
  left:-9px;
  top:-13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u1093 {
  position:absolute;
  left:524px;
  top:67px;
  width:27px;
  height:18px;
  font-size:13px;
  color:#999999;
}
#u1094 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1095 {
  position:absolute;
  left:460px;
  top:76px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:left;
}
#u1095_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u1095_seg1 {
  position:absolute;
  left:50px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1096 {
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u1097 {
  position:absolute;
  left:524px;
  top:96px;
  width:27px;
  height:18px;
  font-size:13px;
  color:#999999;
}
#u1098 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1099 {
  position:absolute;
  left:460px;
  top:76px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1099_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:45px;
  height:8px;
}
#u1099_seg1 {
  position:absolute;
  left:37px;
  top:-4px;
  width:8px;
  height:37px;
}
#u1099_seg2 {
  position:absolute;
  left:37px;
  top:25px;
  width:27px;
  height:8px;
}
#u1099_seg3 {
  position:absolute;
  left:50px;
  top:19px;
  width:21px;
  height:20px;
}
#u1100 {
  position:absolute;
  left:-9px;
  top:-3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1101 {
  position:absolute;
  left:340px;
  top:365px;
  width:120px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1102 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u1103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1103 {
  position:absolute;
  left:340px;
  top:456px;
  width:120px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1104 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u1105 {
  position:absolute;
  left:400px;
  top:415px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u1105_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u1105_seg1 {
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:21px;
}
#u1106 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1107 {
  position:absolute;
  left:400px;
  top:318px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u1107_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u1107_seg1 {
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:21px;
}
#u1108 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1109 {
  position:absolute;
  left:340px;
  top:553px;
  width:120px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1110 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u1111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1111 {
  position:absolute;
  left:340px;
  top:644px;
  width:120px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1112 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u1113 {
  position:absolute;
  left:400px;
  top:603px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u1113_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u1113_seg1 {
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:21px;
}
#u1114 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1115 {
  position:absolute;
  left:400px;
  top:506px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u1115_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u1115_seg1 {
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:21px;
}
#u1116 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1117 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u1118 {
  position:absolute;
  left:686px;
  top:350px;
  width:50px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1119 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u1120 {
  position:absolute;
  left:686px;
  top:430px;
  width:50px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#499AFF;
  text-align:center;
}
#u1121 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u1122 {
  position:absolute;
  left:127px;
  top:76px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u1122_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:182px;
  height:8px;
}
#u1122_seg1 {
  position:absolute;
  left:174px;
  top:-4px;
  width:8px;
  height:601px;
}
#u1122_seg2 {
  position:absolute;
  left:174px;
  top:589px;
  width:39px;
  height:8px;
}
#u1122_seg3 {
  position:absolute;
  left:199px;
  top:583px;
  width:21px;
  height:20px;
}
#u1123 {
  position:absolute;
  left:128px;
  top:217px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u1124 {
  position:absolute;
  left:524px;
  top:126px;
  width:27px;
  height:18px;
  font-size:13px;
  color:#999999;
}
#u1125 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1126 {
  position:absolute;
  left:460px;
  top:76px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1126_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:45px;
  height:8px;
}
#u1126_seg1 {
  position:absolute;
  left:37px;
  top:-4px;
  width:8px;
  height:67px;
}
#u1126_seg2 {
  position:absolute;
  left:37px;
  top:55px;
  width:27px;
  height:8px;
}
#u1126_seg3 {
  position:absolute;
  left:50px;
  top:49px;
  width:21px;
  height:20px;
}
#u1127 {
  position:absolute;
  left:-9px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1128 {
  position:absolute;
  left:686px;
  top:76px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u1128_seg0 {
  position:absolute;
  left:-42px;
  top:-4px;
  width:42px;
  height:8px;
}
#u1128_seg1 {
  position:absolute;
  left:-42px;
  top:-4px;
  width:8px;
  height:413px;
}
#u1128_seg2 {
  position:absolute;
  left:-226px;
  top:401px;
  width:192px;
  height:8px;
}
#u1128_seg3 {
  position:absolute;
  left:-233px;
  top:395px;
  width:21px;
  height:20px;
}
#u1129 {
  position:absolute;
  left:-88px;
  top:270px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
