body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1214px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1214px;
  height:62px;
  background:inherit;
  background-color:rgba(73, 154, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19245 {
  position:absolute;
  left:0px;
  top:47px;
  width:1214px;
  height:62px;
}
#u19246 {
  position:absolute;
  left:2px;
  top:23px;
  width:1210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u19247 {
  position:absolute;
  left:20px;
  top:18px;
  width:223px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u19248 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u19249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
}
#u19249 {
  position:absolute;
  left:1152px;
  top:17px;
  width:28px;
  height:22px;
}
#u19250 {
  position:absolute;
  left:2px;
  top:3px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:21px;
}
#u19251 {
  position:absolute;
  left:1021px;
  top:16px;
  width:28px;
  height:21px;
}
#u19252 {
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u19253 {
  position:absolute;
  left:1089px;
  top:14px;
  width:27px;
  height:26px;
}
#u19254 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-Black', 'Arial Black';
  font-weight:900;
  font-style:normal;
  color:#FFFFFF;
}
#u19255 {
  position:absolute;
  left:45px;
  top:56px;
  width:168px;
  height:45px;
  font-family:'Arial-Black', 'Arial Black';
  font-weight:900;
  font-style:normal;
  color:#FFFFFF;
}
#u19256 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u19257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u19257 {
  position:absolute;
  left:250px;
  top:58px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u19258 {
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u19259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u19259 {
  position:absolute;
  left:370px;
  top:58px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u19260 {
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u19261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u19261 {
  position:absolute;
  left:490px;
  top:58px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u19262 {
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u19263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u19263 {
  position:absolute;
  left:730px;
  top:58px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u19264 {
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u19265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u19265 {
  position:absolute;
  left:850px;
  top:58px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u19266 {
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u19267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u19267 {
  position:absolute;
  left:610px;
  top:58px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u19268 {
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u19269_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u19269 {
  position:absolute;
  left:250px;
  top:106px;
  width:120px;
  height:3px;
  color:#FFFFFF;
}
#u19270 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19271_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u19271 {
  position:absolute;
  left:370px;
  top:106px;
  width:120px;
  height:3px;
  color:#FFFFFF;
}
#u19272 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19273_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u19273 {
  position:absolute;
  left:490px;
  top:106px;
  width:120px;
  height:3px;
  color:#FFFFFF;
}
#u19274 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19275_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u19275 {
  position:absolute;
  left:610px;
  top:106px;
  width:120px;
  height:3px;
  color:#FFFFFF;
}
#u19276 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19277_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u19277 {
  position:absolute;
  left:730px;
  top:106px;
  width:120px;
  height:3px;
  color:#FFFFFF;
}
#u19278 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19279_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u19279 {
  position:absolute;
  left:850px;
  top:106px;
  width:120px;
  height:3px;
  color:#FFFFFF;
}
#u19280 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1214px;
  height:3271px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19282 {
  position:absolute;
  left:0px;
  top:109px;
  width:1214px;
  height:3271px;
}
#u19283 {
  position:absolute;
  left:2px;
  top:1628px;
  width:1210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:1700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19284 {
  position:absolute;
  left:19px;
  top:144px;
  width:150px;
  height:1700px;
}
#u19285 {
  position:absolute;
  left:2px;
  top:842px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u19286 {
  position:absolute;
  left:59px;
  top:172px;
  width:86px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u19287 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u19288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u19288 {
  position:absolute;
  left:59px;
  top:261px;
  width:86px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u19289 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u19290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u19290 {
  position:absolute;
  left:59px;
  top:301px;
  width:105px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u19291 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u19292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u19292 {
  position:absolute;
  left:59px;
  top:341px;
  width:105px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u19293 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u19294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u19294 {
  position:absolute;
  left:59px;
  top:381px;
  width:105px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u19295 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u19296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u19296 {
  position:absolute;
  left:59px;
  top:221px;
  width:86px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u19297 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u19298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u19298 {
  position:absolute;
  left:59px;
  top:421px;
  width:79px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u19299 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u19300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u19300 {
  position:absolute;
  left:59px;
  top:461px;
  width:92px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u19301 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u19302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u19302 {
  position:absolute;
  left:30px;
  top:170px;
  width:20px;
  height:22px;
}
#u19303 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19304_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u19304 {
  position:absolute;
  left:490px;
  top:107px;
  width:120px;
  height:3px;
  color:#FFFFFF;
}
#u19305 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19306_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u19306 {
  position:absolute;
  left:490px;
  top:106px;
  width:120px;
  height:3px;
}
#u19307 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
