body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1214px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1214px;
  height:62px;
  background:inherit;
  background-color:rgba(73, 154, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9685 {
  position:absolute;
  left:0px;
  top:47px;
  width:1214px;
  height:62px;
}
#u9686 {
  position:absolute;
  left:2px;
  top:23px;
  width:1210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u9687 {
  position:absolute;
  left:20px;
  top:18px;
  width:223px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u9688 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u9689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
}
#u9689 {
  position:absolute;
  left:1152px;
  top:17px;
  width:28px;
  height:22px;
}
#u9690 {
  position:absolute;
  left:2px;
  top:3px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:21px;
}
#u9691 {
  position:absolute;
  left:1021px;
  top:16px;
  width:28px;
  height:21px;
}
#u9692 {
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u9693 {
  position:absolute;
  left:1089px;
  top:14px;
  width:27px;
  height:26px;
}
#u9694 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-Black', 'Arial Black';
  font-weight:900;
  font-style:normal;
  color:#FFFFFF;
}
#u9695 {
  position:absolute;
  left:45px;
  top:56px;
  width:168px;
  height:45px;
  font-family:'Arial-Black', 'Arial Black';
  font-weight:900;
  font-style:normal;
  color:#FFFFFF;
}
#u9696 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u9697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u9697 {
  position:absolute;
  left:250px;
  top:58px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u9698 {
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u9699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u9699 {
  position:absolute;
  left:370px;
  top:58px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u9700 {
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u9701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u9701 {
  position:absolute;
  left:490px;
  top:58px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u9702 {
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u9703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u9703 {
  position:absolute;
  left:730px;
  top:58px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u9704 {
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u9705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u9705 {
  position:absolute;
  left:850px;
  top:58px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u9706 {
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u9707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u9707 {
  position:absolute;
  left:610px;
  top:58px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u9708 {
  position:absolute;
  left:0px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u9709_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u9709 {
  position:absolute;
  left:250px;
  top:106px;
  width:120px;
  height:3px;
  color:#FFFFFF;
}
#u9710 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9711_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u9711 {
  position:absolute;
  left:370px;
  top:106px;
  width:120px;
  height:3px;
  color:#FFFFFF;
}
#u9712 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9713_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u9713 {
  position:absolute;
  left:490px;
  top:106px;
  width:120px;
  height:3px;
  color:#FFFFFF;
}
#u9714 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9715_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u9715 {
  position:absolute;
  left:610px;
  top:106px;
  width:120px;
  height:3px;
  color:#FFFFFF;
}
#u9716 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9717_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u9717 {
  position:absolute;
  left:730px;
  top:106px;
  width:120px;
  height:3px;
  color:#FFFFFF;
}
#u9718 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9719_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u9719 {
  position:absolute;
  left:850px;
  top:106px;
  width:120px;
  height:3px;
  color:#FFFFFF;
}
#u9720 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1214px;
  height:3271px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9722 {
  position:absolute;
  left:0px;
  top:109px;
  width:1214px;
  height:3271px;
}
#u9723 {
  position:absolute;
  left:2px;
  top:1628px;
  width:1210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:1700px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9724 {
  position:absolute;
  left:19px;
  top:144px;
  width:150px;
  height:1700px;
}
#u9725 {
  position:absolute;
  left:2px;
  top:842px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u9726 {
  position:absolute;
  left:59px;
  top:172px;
  width:86px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u9727 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u9728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u9728 {
  position:absolute;
  left:59px;
  top:261px;
  width:86px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u9729 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u9730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u9730 {
  position:absolute;
  left:59px;
  top:301px;
  width:92px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u9731 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u9732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u9732 {
  position:absolute;
  left:59px;
  top:341px;
  width:92px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u9733 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u9734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
}
#u9734 {
  position:absolute;
  left:30px;
  top:172px;
  width:20px;
  height:23px;
}
#u9735 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u9736 {
  position:absolute;
  left:59px;
  top:221px;
  width:86px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u9737 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u9738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u9738 {
  position:absolute;
  left:59px;
  top:381px;
  width:79px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u9739 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u9740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u9740 {
  position:absolute;
  left:59px;
  top:421px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u9741 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u9742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u9742 {
  position:absolute;
  left:59px;
  top:461px;
  width:79px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u9743 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u9744_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u9744 {
  position:absolute;
  left:370px;
  top:106px;
  width:120px;
  height:3px;
  color:#FFFFFF;
}
#u9745 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9746_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u9746 {
  position:absolute;
  left:370px;
  top:106px;
  width:120px;
  height:3px;
}
#u9747 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u9748 {
  position:absolute;
  left:59px;
  top:501px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u9749 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
