body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1004px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u120 {
  position:absolute;
  left:319px;
  top:10px;
  width:685px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u121 {
  position:absolute;
  left:2px;
  top:2px;
  width:681px;
  word-wrap:break-word;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u122 {
  position:absolute;
  left:30px;
  top:299px;
  width:120px;
  height:120px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u123 {
  position:absolute;
  left:2px;
  top:42px;
  width:116px;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u124 {
  position:absolute;
  left:290px;
  top:319px;
  width:80px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u125 {
  position:absolute;
  left:2px;
  top:31px;
  width:76px;
  word-wrap:break-word;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u126 {
  position:absolute;
  left:50px;
  top:160px;
  width:80px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u127 {
  position:absolute;
  left:2px;
  top:31px;
  width:76px;
  word-wrap:break-word;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u128 {
  position:absolute;
  left:30px;
  top:672px;
  width:120px;
  height:120px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u129 {
  position:absolute;
  left:2px;
  top:51px;
  width:116px;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u130 {
  position:absolute;
  left:50px;
  top:498px;
  width:80px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u131 {
  position:absolute;
  left:2px;
  top:31px;
  width:76px;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u132 {
  position:absolute;
  left:884px;
  top:672px;
  width:120px;
  height:120px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u133 {
  position:absolute;
  left:2px;
  top:51px;
  width:116px;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u134 {
  position:absolute;
  left:718px;
  top:610px;
  width:80px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u135 {
  position:absolute;
  left:2px;
  top:31px;
  width:76px;
  word-wrap:break-word;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u136 {
  position:absolute;
  left:718px;
  top:764px;
  width:80px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u137 {
  position:absolute;
  left:2px;
  top:22px;
  width:76px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:884px;
  top:732px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#999999;
}
#u138_seg0 {
  position:absolute;
  left:-44px;
  top:-4px;
  width:44px;
  height:8px;
}
#u138_seg1 {
  position:absolute;
  left:-44px;
  top:-86px;
  width:8px;
  height:90px;
}
#u138_seg2 {
  position:absolute;
  left:-86px;
  top:-86px;
  width:50px;
  height:8px;
}
#u138_seg3 {
  position:absolute;
  left:-93px;
  top:-92px;
  width:21px;
  height:20px;
}
#u139 {
  position:absolute;
  left:-90px;
  top:-52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:884px;
  top:732px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#999999;
}
#u140_seg0 {
  position:absolute;
  left:-44px;
  top:-4px;
  width:44px;
  height:8px;
}
#u140_seg1 {
  position:absolute;
  left:-44px;
  top:-4px;
  width:8px;
  height:80px;
}
#u140_seg2 {
  position:absolute;
  left:-86px;
  top:68px;
  width:50px;
  height:8px;
}
#u140_seg3 {
  position:absolute;
  left:-93px;
  top:62px;
  width:21px;
  height:20px;
}
#u141 {
  position:absolute;
  left:-90px;
  top:31px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u142 {
  position:absolute;
  left:532px;
  top:610px;
  width:80px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u143 {
  position:absolute;
  left:2px;
  top:31px;
  width:76px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:718px;
  top:650px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u144_seg0 {
  position:absolute;
  left:-106px;
  top:-4px;
  width:110px;
  height:8px;
}
#u144_seg1 {
  position:absolute;
  left:-113px;
  top:-10px;
  width:21px;
  height:20px;
}
#u145 {
  position:absolute;
  left:-103px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:532px;
  top:650px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u146_seg0 {
  position:absolute;
  left:-90px;
  top:-4px;
  width:90px;
  height:8px;
}
#u146_seg1 {
  position:absolute;
  left:-90px;
  top:-97px;
  width:8px;
  height:101px;
}
#u146_seg2 {
  position:absolute;
  left:-96px;
  top:-104px;
  width:20px;
  height:21px;
}
#u147 {
  position:absolute;
  left:-136px;
  top:-14px;
  width:100px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:718px;
  top:804px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u148_seg0 {
  position:absolute;
  left:-390px;
  top:-4px;
  width:390px;
  height:8px;
}
#u148_seg1 {
  position:absolute;
  left:-390px;
  top:-193px;
  width:8px;
  height:197px;
}
#u148_seg2 {
  position:absolute;
  left:-500px;
  top:-193px;
  width:118px;
  height:8px;
}
#u148_seg3 {
  position:absolute;
  left:-500px;
  top:-251px;
  width:8px;
  height:66px;
}
#u148_seg4 {
  position:absolute;
  left:-506px;
  top:-258px;
  width:20px;
  height:21px;
}
#u149 {
  position:absolute;
  left:-424px;
  top:-16px;
  width:100px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:90px;
  top:419px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u150_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:83px;
}
#u150_seg1 {
  position:absolute;
  left:-10px;
  top:65px;
  width:20px;
  height:21px;
}
#u151 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:150px;
  top:359px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u152_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:144px;
  height:8px;
}
#u152_seg1 {
  position:absolute;
  left:126px;
  top:-10px;
  width:21px;
  height:20px;
}
#u153 {
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u154 {
  position:absolute;
  left:608px;
  top:299px;
  width:120px;
  height:120px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u155 {
  position:absolute;
  left:2px;
  top:51px;
  width:116px;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:330px;
  top:319px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u156_seg0 {
  position:absolute;
  left:-4px;
  top:-43px;
  width:8px;
  height:43px;
}
#u156_seg1 {
  position:absolute;
  left:-4px;
  top:-43px;
  width:346px;
  height:8px;
}
#u156_seg2 {
  position:absolute;
  left:334px;
  top:-43px;
  width:8px;
  height:23px;
}
#u156_seg3 {
  position:absolute;
  left:328px;
  top:-34px;
  width:20px;
  height:21px;
}
#u157 {
  position:absolute;
  left:109px;
  top:-47px;
  width:100px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:608px;
  top:359px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u158_seg0 {
  position:absolute;
  left:-166px;
  top:-4px;
  width:166px;
  height:8px;
}
#u158_seg1 {
  position:absolute;
  left:-166px;
  top:-4px;
  width:8px;
  height:72px;
}
#u158_seg2 {
  position:absolute;
  left:-172px;
  top:54px;
  width:20px;
  height:21px;
}
#u159 {
  position:absolute;
  left:-165px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:150px;
  top:732px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u160_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:5px;
}
#u160_seg1 {
  position:absolute;
  left:-4px;
  top:-3px;
  width:80px;
  height:8px;
}
#u160_seg2 {
  position:absolute;
  left:68px;
  top:-179px;
  width:8px;
  height:184px;
}
#u160_seg3 {
  position:absolute;
  left:62px;
  top:-186px;
  width:20px;
  height:21px;
}
#u161 {
  position:absolute;
  left:22px;
  top:-100px;
  width:100px;
  word-wrap:break-word;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u162 {
  position:absolute;
  left:532px;
  top:498px;
  width:80px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u163 {
  position:absolute;
  left:2px;
  top:31px;
  width:76px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:370px;
  top:538px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#999999;
}
#u164_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u164_seg1 {
  position:absolute;
  left:32px;
  top:-10px;
  width:21px;
  height:20px;
}
#u165 {
  position:absolute;
  left:-27px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:90px;
  top:299px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u166_seg0 {
  position:absolute;
  left:-4px;
  top:-59px;
  width:8px;
  height:63px;
}
#u166_seg1 {
  position:absolute;
  left:-10px;
  top:-66px;
  width:20px;
  height:21px;
}
#u167 {
  position:absolute;
  left:-50px;
  top:-38px;
  width:100px;
  word-wrap:break-word;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u168 {
  position:absolute;
  left:290px;
  top:498px;
  width:80px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u169 {
  position:absolute;
  left:2px;
  top:31px;
  width:76px;
  word-wrap:break-word;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u170 {
  position:absolute;
  left:884px;
  top:478px;
  width:120px;
  height:120px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u171 {
  position:absolute;
  left:2px;
  top:51px;
  width:116px;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:884px;
  top:538px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#999999;
}
#u172_seg0 {
  position:absolute;
  left:-272px;
  top:-4px;
  width:276px;
  height:8px;
}
#u172_seg1 {
  position:absolute;
  left:-279px;
  top:-10px;
  width:21px;
  height:20px;
}
#u173 {
  position:absolute;
  left:-186px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(224, 234, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#499AFF;
}
#u174 {
  position:absolute;
  left:192px;
  top:523px;
  width:60px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#499AFF;
}
#u175 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:130px;
  top:538px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#999999;
}
#u176_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:66px;
  height:8px;
}
#u176_seg1 {
  position:absolute;
  left:48px;
  top:-10px;
  width:21px;
  height:20px;
}
#u177 {
  position:absolute;
  left:-19px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:290px;
  top:538px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#999999;
}
#u178_seg0 {
  position:absolute;
  left:-38px;
  top:-4px;
  width:42px;
  height:8px;
}
#u178_seg1 {
  position:absolute;
  left:-45px;
  top:-10px;
  width:21px;
  height:20px;
}
#u179 {
  position:absolute;
  left:-69px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(224, 234, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#499AFF;
}
#u180 {
  position:absolute;
  left:416px;
  top:427px;
  width:60px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#499AFF;
}
#u181 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:330px;
  top:399px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#999999;
}
#u182_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u182_seg1 {
  position:absolute;
  left:-4px;
  top:39px;
  width:90px;
  height:8px;
}
#u182_seg2 {
  position:absolute;
  left:72px;
  top:33px;
  width:21px;
  height:20px;
}
#u183 {
  position:absolute;
  left:-28px;
  top:35px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:572px;
  top:498px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#999999;
}
#u184_seg0 {
  position:absolute;
  left:-4px;
  top:-60px;
  width:8px;
  height:60px;
}
#u184_seg1 {
  position:absolute;
  left:-96px;
  top:-60px;
  width:100px;
  height:8px;
}
#u184_seg2 {
  position:absolute;
  left:-103px;
  top:-66px;
  width:21px;
  height:20px;
}
#u185 {
  position:absolute;
  left:-70px;
  top:-64px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(224, 234, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#499AFF;
}
#u186 {
  position:absolute;
  left:416px;
  top:523px;
  width:60px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#499AFF;
}
#u187 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:532px;
  top:538px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#999999;
}
#u188_seg0 {
  position:absolute;
  left:-56px;
  top:-4px;
  width:60px;
  height:8px;
}
#u188_seg1 {
  position:absolute;
  left:-63px;
  top:-10px;
  width:21px;
  height:20px;
}
#u189 {
  position:absolute;
  left:-78px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u190 {
  position:absolute;
  left:329px;
  top:40px;
  width:120px;
  height:120px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u191 {
  position:absolute;
  left:2px;
  top:51px;
  width:116px;
  word-wrap:break-word;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u192 {
  position:absolute;
  left:504px;
  top:60px;
  width:80px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u193 {
  position:absolute;
  left:2px;
  top:31px;
  width:76px;
  word-wrap:break-word;
}
#u194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(224, 234, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#499AFF;
}
#u194 {
  position:absolute;
  left:654px;
  top:85px;
  width:60px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#499AFF;
}
#u195 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
}
#u196 {
  position:absolute;
  left:630px;
  top:125px;
  width:109px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#499AFF;
  text-align:center;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u198 {
  position:absolute;
  left:762px;
  top:60px;
  width:80px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u199 {
  position:absolute;
  left:2px;
  top:31px;
  width:76px;
  word-wrap:break-word;
}
#u200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u200 {
  position:absolute;
  left:872px;
  top:40px;
  width:120px;
  height:120px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u201 {
  position:absolute;
  left:2px;
  top:51px;
  width:116px;
  word-wrap:break-word;
}
