body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1213px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u738_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:98px;
  height:6px;
}
#u738 {
  position:absolute;
  left:257px;
  top:58px;
  width:95px;
  height:3px;
  color:#FFFFFF;
}
#u739 {
  position:absolute;
  left:2px;
  top:-6px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1214px;
  height:583px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u740 {
  position:absolute;
  left:-1px;
  top:61px;
  width:1214px;
  height:583px;
}
#u741 {
  position:absolute;
  left:2px;
  top:284px;
  width:1210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1214px;
  height:78px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u742 {
  position:absolute;
  left:-1px;
  top:643px;
  width:1214px;
  height:78px;
  color:#666666;
}
#u743 {
  position:absolute;
  left:2px;
  top:21px;
  width:1210px;
  word-wrap:break-word;
}
#u744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1071px;
  height:548px;
}
#u744 {
  position:absolute;
  left:45px;
  top:96px;
  width:1071px;
  height:548px;
}
#u745 {
  position:absolute;
  left:2px;
  top:266px;
  width:1067px;
  visibility:hidden;
  word-wrap:break-word;
}
#u746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1214px;
  height:62px;
  background:inherit;
  background-color:rgba(58, 89, 151, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u746 {
  position:absolute;
  left:0px;
  top:-1px;
  width:1214px;
  height:62px;
}
#u747 {
  position:absolute;
  left:2px;
  top:23px;
  width:1210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-Black', 'Arial Black';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u748 {
  position:absolute;
  left:45px;
  top:13px;
  width:139px;
  height:38px;
  font-family:'Arial-Black', 'Arial Black';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u749 {
  position:absolute;
  left:0px;
  top:-1px;
  width:139px;
  word-wrap:break-word;
}
#u750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-Black', 'Arial Black';
  font-weight:900;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u750 {
  position:absolute;
  left:163px;
  top:15px;
  width:91px;
  height:36px;
  font-family:'Arial-Black', 'Arial Black';
  font-weight:900;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u751 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u752 {
  position:absolute;
  left:97px;
  top:137px;
  width:147px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u753 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  word-wrap:break-word;
}
#u754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft-Yi-Baiti', 'Microsoft Yi Baiti';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u754 {
  position:absolute;
  left:96px;
  top:209px;
  width:760px;
  height:132px;
  font-family:'Microsoft-Yi-Baiti', 'Microsoft Yi Baiti';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u755 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  word-wrap:break-word;
}
#u756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:212px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft-Yi-Baiti', 'Microsoft Yi Baiti';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u756 {
  position:absolute;
  left:97px;
  top:405px;
  width:760px;
  height:212px;
  font-family:'Microsoft-Yi-Baiti', 'Microsoft Yi Baiti';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u757 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  word-wrap:break-word;
}
